<div class="form-container">
  <section class="main-section">
    <h2 class="main-text-color">Nova Consulta</h2>

    <mat-form-field appearance="outline" class="full-width-field">
      <mat-label>Especialidade</mat-label>
      <mat-select>
        <mat-option *ngFor="let appointment of appointments" [value]="appointment.medico.especialidade">
          {{appointment.medico.especialidade}}
        </mat-option>
      </mat-select>
    </mat-form-field> 
    
    <mat-form-field appearance="outline" class="full-width-field">
      <mat-label>Médico</mat-label>
      <mat-select>
        <mat-option *ngFor="let appointment of appointments" [value]="appointment.medico.nome">
          {{appointment.medico.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field> 

    <mat-form-field appearance="outline" class="full-width-field">
      <mat-label>Data</mat-label>
      <mat-select>
        <mat-option *ngFor="let appointment of appointments" [value]="appointment.dia">
          {{appointment.dia}}
        </mat-option>
      </mat-select>
    </mat-form-field> 

    <mat-form-field appearance="outline" class="full-width-field">
      <mat-label>Hora</mat-label>
      <mat-select>
        <mat-option *ngFor="let appointment of appointments" [value]="appointment.horario">
          {{appointment.horario}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-grid-list cols="2" rowHeight="2:1" gutterSize="24px">
      <mat-grid-tile><button mat-dialog-close mat-raised-button color="tertiary" class="full-width-field">Cancelar</button></mat-grid-tile>
      <mat-grid-tile><button (click)="submitAppointment()" mat-raised-button color="main" class="full-width-field">Confirmar</button></mat-grid-tile>
    </mat-grid-list>
  </section>
</div>